
/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
  margin: 0;
  padding: 0px;
  font-family: 'Lato', sans-serif;
} 
body { 
  background: #fff; 
  margin: 0; 
  color: #666; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

p { 
  padding: 0; 
  margin-bottom: 12px; 
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em; 
  line-height: 1.6;
  margin-top: 10px; 
}

html,
body {
  height: 100%;
}

.small {
  font-size: 1em;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}
.centered {text-align: center}
.smt {margin-top: 20px;}
.smb {margin-bottom: 20px;}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.smb {margin-bottom: 20px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.lmtb {margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width:100%;
}
::-moz-selection  {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
::selection {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a { 
  padding: 0;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}


/* SVG ANIMATION & CONFIGURATION */
svg {
  pointer-events: none;
}

/* Top 1 */

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

/* ============================== */
/* Top Section */
/* ============================== */

#main {
  background: darken($blue, 20%);
  background-size: cover;
  color: #fff;
}

#main h1 {
  font-size: 3.3em;
  font-weight: 300;
  line-height: 1.2;

  @media (max-width: 767px) {
    font-size: 2.5em;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 2.7em;
  }
}
#main h2  {
  font-size: 19px;
  font-weight: 300;
  @media (max-width: 767px) {
    font-size: 2em;
  }
}
#main .pricing {
  margin-top: 40px;
}
#main h3,h4 {
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1;
}
#main h4 {
  font-size: 1.3em;
}

#main p {
  color: #fff;
}

#main .data-sample img {
  margin: 0 auto;
  max-height: 500px;
  margin-bottom:20px;

  @extend .fadeInUp;
}
#main h4 a, #main h3 a {
  color: #fff;
  border-bottom: dotted 1px #fff;
}
.stripe-button-el {
  display: none !important;
}

.hspace {
  display: inline-block;
  margin: 0 10px;
}


@media (max-width: 767px) {
  #reasons {
    display: none;
  }
}

/* ============================== */
/* White section */
/* ============================== */
#ws {
  color: #444;

}

#ws h1 {
  font-size: 3.7em;
  font-weight: 300;
  line-height: 1.2;

  @media (max-width: 767px) {
    font-size: 2.2em;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 2.7em;
  }
}

#ws h2 {
  font-size: 2.6em;
  font-weight: 300;
  line-height: 1.3;
  color: #929292;

  @media (max-width: 767px) {
    font-size: 1.5em;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 2.2em;
  }
}

#ws p {
  line-height:1.5;

  a {
    border-bottom: 1px dotted #0F4B8B;
  }

  @media (max-width: 767px) {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

#ws .details hr.mt {
  @media (max-width: 767px) {
    margin-top: 15px;
  }
}

#ws .icn {
  margin-top: 40px;
  display: block;
  font-size: 70px;
  margin-right: 15px;

  @media (max-width: 767px) {
    font-size: 2.5em;
    text-align: center;
    margin-right: 0;
    margin-top: 0;
  }
}

.icn2 {
  font-size: 60px;
  margin-right: 15px;
}

/* Footer Section */

.signup {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #3a3a3a;
  color: #999;
}

.signup h2 {
  color: #eee;
  font-size:40px;
}

.signup .form {
  margin-top: 0;
  text-align: left;
}

.signup .form-group {
  margin-top:25px;
}

.btn {
  color: #444;
  background-color: #ff6;
  border-radius: 0;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  border-width: 1px;
  border-color: $yellow;

  transition: background-color 0.3s ease;
  &.btn-lg {
    font-weight: 400;
    padding: 20px 40px 20px 40px;

    @media (max-width: 767px) {
      font-size: 20px;
      padding: 20px 30px 20px 30px;
    }
  }
  &:hover {
    background-color: darken($yellow, 30%);
  }
}

.btn-yellow {
  color: #444;
  border-color: $yellow;
  background-color: $yellow;
  &:hover {
    background-color: darken($yellow, 30%);
  }
}
.btn-yellow.btn-outline {
  color: $yellow;
  background-color: transparent;
  font-weight: 300;
  &:hover {
    background-color: $yellow;
    color: #444;
  }
}
.btn-blue {
  color: #fff;
  border-color: $blue;
  background-color: $blue;
  &:hover {
    color: #fff;
    background-color: darken($blue, 10%);
  }
}
.btn-blue.btn-outline {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  &:hover {
    background-color: darken($blue, 10%);
    color: #fff;
  }
}
.btn-collection {
  .btn {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}


.btn-yellow-outline {
  color: $yellow;
  background-color: transparent;
  border-width: 1px;
  border-color: $yellow;
  border-radius: 0;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;

  transition: background-color 0.3s ease;
  &.btn-lg {
    font-weight: 300;
    padding: 20px 40px 20px 40px;

    @media (max-width: 767px) {
      font-size: 20px;
      padding: 20px 30px 20px 30px;
    }
  }
  &:hover {
    background-color: $yellow;
  }
}

#pricing {
  h1 {
    font-weight: 300;
  }
  .pricing-table {
    padding: 48px 32px;
  }
  .pricing-table .price {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80px;
    line-height: 80px;
    font-weight: 300;
    color: #292929;
    display: inline-block;
    margin-bottom: 16px;
  }
  .emphasis {
    color: #fff;
  }
  .bg-dark .pricing-table .price {
    color: #fff;
  }
  .pricing-table p:last-child {
    margin-bottom: 0;
  }
  .pricing-table.boxed,
  .pricing-table.emphasis {
    background: #f8f8f8;
  }
  .pricing-table.emphasis {
    background: $blue;
    color: #fff;
  }
  .pricing-table.emphasis a:not(.btn) {
    color: #fff;
  }
  .pricing-table.emphasis .price,
  .pricing-table.emphasis h5 {
    color: #fff;
  }
  .pt-2 ul {
    line-height: 36px;
  }
}

#faq {

  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 60px;

    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 40px;
    }
  }
}

/* ============================== */
/* Footer */
/* ============================== */
.footer {
  background-color: #eee;

  @media (max-width: 767px) {
    display:none;
  }
}