.navbar-inverse {
  background: transparent;
  border-color: transparent;
  float:none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ddd;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ddd;
  background-color: transparent;
}

.navbar-brand {
  font-weight: 500;
  letter-spacing: 0.3em;
  color: #fff;
  font-size: 1em;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #ddd;
}

.navbar-inverse .navbar-brand {
  color: #ddd;
}